* {
    /*margin: 0;*/
}
.table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px black;
}
.variant {
    height: 50px;
    object-fit: fill;
    background: url("./res/variant.png") no-repeat;
    background-size: contain;
}